// Colors

$white: #ffffff;
$black: #000000;
$accent-color: #68b738;
$bg-grey-basic: #f2f2f2;
$bg-grey-extra: #eaeaea;
$nav-grey: #e6e6e6;
$text-grey-extra: #111111;
$text-grey-title: #222222;
$text-grey-basic: #444444;
$icons-grey: #666666;

// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
