// Colors

$white: #ffffff;
$black: #000000;
$accent-color: #68b738;
$text-grey-extra: #111111;
$text-grey-title: #222222;
$text-grey-basic: #444444;
$icons-grey: #666666;
$bg-grey-basic: #f2f2f2;
$bg-grey-extra: #eaeaea;
$nav-grey: #e6e6e6;
$line-grey: #d9d9d9;
$border-grey: #cdcdcd;
$catalog-grey: #ebebeb;

// Viewports

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
