.address {
  position: relative;

  padding-top: 10px;
}

.address--with-background {
  background-color: $bg-grey-basic;
}

.address__container.container {
  display: flex;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;

    width: 565px;
    min-height: 199px;
    padding: 30px;
    box-sizing: border-box;

    background-color: $white;
  }
}

.address__title {
  width: 140px;
  margin-top: 16px;
  margin-bottom: 0;

  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $text-grey-extra;

  @media (min-width: $tablet-width) {
    width: 180px;
    margin-top: 51px;
    margin-left: 40px;

    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 31px;
    margin-left: 50px;
  }
}

.address__wrapper {
  width: 140px;
  margin-top: 16px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 165px;
    margin-top: 60px;
    margin-right: 40px;

    text-align: right;
  }

  @media (min-width: $desktop-width) {
    margin-top: 30px;
    margin-right: 58px;

    text-align: left;
  }
}

.address__description {
  margin-top: 0;
  margin-bottom: 0;

  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}
