.address {
  position: relative;

  padding-top: 26px;
}

.address--with-background {
  background-color: $bg-grey-basic;
}

.address__container.container {
  display: flex;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;
    z-index: 2;

    width: 565px;
    min-height: 199px;
    padding: 30px;
    box-sizing: border-box;

    background-color: $white;
  }
}

.address__title {
  width: 140px;
  margin-top: 16px;
  margin-bottom: 0;

  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $text-grey-extra;

  @media (min-width: $tablet-width) {
    width: 180px;
    margin-top: 51px;
    margin-left: 40px;

    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 31px;
    margin-left: 50px;
  }
}

.address__wrapper {
  width: 140px;
  margin-top: 16px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 165px;
    margin-top: 60px;
    margin-right: 40px;

    text-align: right;
  }

  @media (min-width: $desktop-width) {
    margin-top: 30px;
    margin-right: 58px;

    text-align: left;
  }
}

.address__description {
  margin-top: 0;
  margin-bottom: 0;

  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.address__map-wrapper {
  position: relative;
  height: 362px;

  overflow: hidden;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.address__map-wrapper::after {
  position: absolute;
  top: 139px;
  left: 134px;

  display: block;
  width: 57px;
  height: 53px;

  content: "";

  background-image: image-set(url("../../images/map-pin-mobile@1x.png") 1x, url("../../images/map-pin-mobile@2x.png") 2x);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 57px 53px;

  @media (min-width: $tablet-width) {
    top: 146px;
    left: 333px;

    width: 113px;
    height: 106px;

    background-image: image-set(url("../../images/map-pin-tablet@1x.png") 1x, url("../../images/map-pin-tablet@2x.png") 2x);
    background-size: 113px 106px;
  }

  @media (min-width: $desktop-width) {
    top: 131px;
    left: 908px;
  }
}

.address__map {
  position: absolute;
  z-index: 1;

  display: none;
  width: 100%;
  height: 100%;
}

.address__fallback {
  position: absolute;

  width: 100%;
  height: 100%;

  object-fit: contain;
}
