.container {
  width: 320px;
  margin: 0 auto;
  padding-inline: 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding-inline: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding-inline: 110px;
  }
}
