.example {
  padding: 10px 0;

  background-image: linear-gradient(to top, $bg-grey-extra 100%);

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(to top, $bg-grey-extra 462px, transparent 462px);
  }
}

.example__title {
  margin-top: 15px;
  margin-bottom: 40px;

  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $black;

  @media (min-width: $tablet-width) {
    margin-top: 35px;
    margin-bottom: 60px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 146px;
  }
}

.example__description {
  margin-top: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 450px;
    margin-bottom: 69px;
  }
}

.example__wrapper {
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 35px;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    gap: 43px;
  }
}

.example__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example__item-number {
  width: 124px;
  min-height: 56px;
  box-sizing: border-box;

  font-family: $secondary-font;
  font-size: 24px;
  line-height: 56px;
  text-transform: uppercase;
  color: $black;

  border: 1px solid $border-grey;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    width: 162px;
    min-height: 72px;
    padding-top: 15px;

    font-size: 30px;
    line-height: 37px;
  }
}

.example__item-description {
  width: 87px;
  margin-top: -9px;
  margin-bottom: 20px;
  margin-left: 0;

  font-size: 12px;
  line-height: 12px;

  background-color: $bg-grey-extra;

  @media (min-width: $tablet-width) {
    width: 114px;

    font-size: 14px;
    line-height: 14px;

    background-color: $white;

    br {
      display: none;
    }
  }
}

.example__item-description--wide {
  @media (min-width: $tablet-width) {
    width: 142px;
  }
}

.example__price-wrapper {
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    gap: 9px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    column-gap: 63px;
  }
}

.example__price {
  font-family: $secondary-font;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.example__slider-button {
  position: relative;

  display: block;
  width: 4px;
  height: 256px;
  margin-left: 20px;
  padding: 0;

  background-color: $icons-grey;
  border: none;
  border-radius: 2px;

  cursor: pointer;
}

.example__slider-button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: block;
  width: 40px;
  height: 40px;

  content: "";

  background-color: $white;
  border: 2px solid $icons-grey;
  border-radius: 50%;
}

.example__slider-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: block;
  width: 24px;
  height: 18px;

  content: "";

  mask-image: url("../../icons/stack.svg#slider-arrow");
  background-color: $icons-grey;
}
