.extra-products {
  position: relative;

  padding-top: 10px;
  padding-bottom: 10px;
}

.extra-products::before {
  @include accent-line;
}

.extra-products::after {
  @include accent-line-divider;
  right: calc((100vw - 280px) / 2 + 15px);

  @media (min-width: $tablet-width) {
    left: calc((100vw - 708px) / 2);
    right: calc((100vw - 708px) / 2 + 328px);
  }

  @media (min-width: $desktop-width) {
    left: calc((100vw - 1220px) / 2 - 40px);
    right: calc((100vw - 1220px) / 2 + 805px);
  }
}

.extra-products__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 896px 245px;
    grid-template-rows: repeat(2, min-content);
    gap: 80px;
  }
}

.extra-products__title {
  position: relative;

  margin-top: 0;
  margin-bottom: 0;

  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $black;

  @media (min-width: $tablet-width) {
    padding-left: 40px;

    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding-left: 0;

    font-size: 40px;
    line-height: 40px;
  }
}

.extra-products__products-table {
  grid-column: 1 / 2;
  grid-row: 2 / -1;
}

.extra-products__gift-wrapper {
  height: 290px;
  padding: 10px;
  box-sizing: border-box;

  text-align: center;

  background-image:
    linear-gradient(rgba(104, 183, 56, 0.85)),
    image-set(
      url("../../images/gift-background-mobile@1x.png") 1x,
      url("../../images/gift-background-mobile@2x.png") 2x);
  background-repeat: no-repeat;
  background-position: center center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;

    background-image:
      linear-gradient(rgba(104, 183, 56, 0.85)),
      image-set(
        url("../../images/gift-background-tablet@1x.png") 1x,
        url("../../images/gift-background-tablet@2x.png") 2x);
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    display: block;
    width: 245px;
    height: 288px;

    background-image:
      linear-gradient(rgba(104, 183, 56, 0.85)),
      image-set(
        url("../../images/gift-background-desktop@1x.png") 1x,
        url("../../images/gift-background-desktop@2x.png") 2x);
  }
}

.extra-products__gift {
  width: 170px;
  margin: 0 auto;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $white;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-right: 125px;

    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-inline: auto;

    text-align: center;
  }
}

.extra-products__gift-wrapper::before {
  display: inline-block;
  width: 78px;
  height: 80px;
  margin-top: 49px;
  margin-bottom: 48px;

  content: "";

  background-image: url("../../icons/stack.svg#gift");
  background-repeat: no-repeat;
  background-position: center center;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 78px;
  }

  @media (min-width: $desktop-width) {
    margin: 56px 0 46px;
  }
}
