.hero {
  font-family: $secondary-font;
  background-color: $green;
}

.hero__title {
  color: $white;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.hero__slogan {
  color: $white;
  line-height: 14px;
  text-transform: uppercase;
}
