.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 190px;

  @media (min-width: $tablet-width) {
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }
}

.logo__image {
  @media (min-width: $desktop-width) {
    width: 118px;
    height: 21px;
  }
}
