/* .navigation {
  @media (max-width: #{$tablet-width - 1px}) {
    position: absolute;
    width: 100%;
    background-color: $white;
  }
}
  */

.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation__link {
  text-decoration: none;
  color: $black;
}
