.page-header {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.page-header__toggle {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #ffffff;
  background-image: url("../../icons/stack.svg#menu");
  background-size: 24px 24px;
}

.page-header__toggle--closed + .navigation {
  display: none;
}
