.page-main__title {
  position: relative;

  margin-top: 0;
  margin-bottom: 0;

  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}
