.page-main {
  flex-grow: 1;
}

.page-main__title {
  position: relative;

  margin-top: 27px;
  margin-bottom: 19px;

  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $black;

  @media (min-width: $tablet-width) {
    margin-top: 63px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 72px;
  }
}
