.page-footer {
  padding: 40px 0;

  background-color: $bg-grey-basic;
}

.page-footer__container {
  @media (max-width: $mobile-width-only) {
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}

.page-footer__logo {
  @media (min-width: $tablet-width) {
    margin-right: 160px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 410px;
  }
}

.page-footer__developer-link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-decoration: none;
  color: inherit;

  @media (min-width: $tablet-width) {
    margin-left: auto;
  }
}

.page-footer__developer-name {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin-right: 23px;
  }
}
