.page-footer {
  padding-top: 40px;
  padding-bottom: 40px;

  background-color: $bg-grey-basic;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 66px;
    padding-bottom: 63px;
  }
}

.page-footer__container {
  @media (max-width: $mobile-width-only) {
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}

.page-footer__logo {
  display: block;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 16px;
  }

  @media (min-width: $tablet-width) {
    margin-right: 156px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 410px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:focus-visible {
    opacity: 0.8;
  }
}

.page-footer__developer-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

  text-decoration: none;
  color: inherit;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-left: auto;
  }

  &:active {
    opacity: 0.3;
  }


  &:is(:hover, :active, :focus-visible) .page-footer__developer-logo {
    color: $accent-color;
  }
}

.page-footer__developer-logo {
  color: $icons-grey;
}

.page-footer__developer-name {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin-right: 23px;
  }
}
