.page-main {
  padding-top: 10px;
}

.page-main__title {
  margin-top: 17px;
  margin-bottom: 31px;

  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin-top: 55px;
    margin-bottom: 155px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 64px;
  }
}
