.product-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: repeat(3, min-content);
  row-gap: 14px;
  min-height: 209px;
  padding-top: 20px;
  padding-bottom: 25px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    grid-template-columns: 250px;
    grid-template-rows: repeat(4, min-content);
    min-height: 430px;
    padding-top: 0;
    padding-bottom: 0;
    padding-inline: 37px;
    box-sizing: border-box;

    background-color: $bg-grey-basic;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 169px;
  }
}

.product-card__description {
  margin-top: 0;
  margin-bottom: 21px;

  font-size: 12px;
  line-height: 16px;
}


.product-card__image-link {
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    margin-bottom: -81px;

    text-align: center;
  }
}

.product-card__image {
  @media (min-width: $tablet-width) {
    transform: translateY(-81px);
  }
}

.product-card__link {
  grid-column: 2 / -1;
  grid-row: 1 / 2;

  text-decoration: none;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    margin-bottom: 20px;
  }
}

.product-card__title {
  margin-top: 0;
  margin-bottom: 0;

  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $text-grey-title;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.products__item--show-more .product-card__title {
  margin-bottom: 8px;

  color: $text-grey-extra;
}

.product-card__features {
  grid-column: 2 / -1;
  grid-row: 2 / 3;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    margin-bottom: 37px;
    row-gap: 12px;

    font-size: 16px;
    line-height: 20px;
  }
}

.product-card__feature-name {
  width: 70px;
  padding-right: 5px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 125px;

    border-bottom: 1px solid $border-grey;
  }

  @media (min-width: $desktop-width) {
    width: 85px;
  }
}

.product-card__feature-description {
  width: 70px;
  margin-left: 0;
  padding-left: 5px;
  box-sizing: border-box;

  text-align: right;

  @media (min-width: $tablet-width) {
    width: 125px;

    border-bottom: 1px solid $border-grey;
  }

  @media (min-width: $desktop-width) {
    width: 84px;
    padding-left: 4px;
  }
}

.product-card__order-link {
  grid-column: 1 / -1;
  grid-row: 3 / 4;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
  }
}
