.product-card__link {
  text-decoration: none;
}

.product-card__title {
  color: $text-dark-grey;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.product-card__features {
  font-size: 12px;
  line-height: 16px;
}
