.products-table__product {
  display: grid;
  grid-template-columns: 195px 73px;
  grid-template-rows: repeat(3, min-content);
  gap: 12px;
  align-items: center;
  margin-left: -2px;
  padding-top: 12px;
  padding-bottom: 17px;
  box-sizing: border-box;

  border-bottom: 1px solid $border-grey;

  &:first-of-type {
    border-top: 1px solid $border-grey;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 320px 200px 70px;
    grid-template-rows: repeat(2, min-content);
    gap: 22px 20px;
    padding: 26px 37px;

    border-right: 1px solid $border-grey;
    border-left: 1px solid $border-grey;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 306px 223px 62px 244px;
    grid-template-rows: min-content;
    max-width: 895px;
    padding: 15px 0 14px;

    border-right: none;
    border-left: none;
  }
}

.products-table__name {
  grid-column: 1 / -1;
  grid-row: 1 / 2;

  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $text-grey-title;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;

    font-size: 20px;
    line-height: 20px;
  }
}

.products-table__amount {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  line-height: 14px;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.products-table__price {
  grid-column: 2 / -1;
  grid-row: 2 / 3;

  line-height: 14px;
  text-align: right;

  @media (min-width: $tablet-width) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;

    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.products-table__order {
  grid-column: 1 / -1;
  grid-row: 3 / 4;

  @media (min-width: $tablet-width) {
    grid-row: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
  }
}
