.socials {
  @include reset-list;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.socials__link--vkontakte::before {
  @include socials("vkontakte", 27px 17px);
}

.socials__link--youtube::before {
  @include socials("youtube", 24px 19px);
}


.socials__link--telegram::before {
  @include socials("telegram", 20px 17px);
}
