.socials {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.socials__link {
  display: block;
  width: 40px;
  height: 40px;
  background-color: $icons-grey;
  mask-repeat: no-repeat;
  mask-position: center center;
}

.socials__link--vkontakte {
  mask-image: url("../../icons/stack.svg#vkontakte");
  mask-size: 27px 17px;
}

.socials__link--youtube {
  mask-image: url("../../icons/stack.svg#youtube");
  mask-size: 24px 19px;
}

.socials__link--telegram {
  mask-image: url("../../icons/stack.svg#telegram");
  mask-size: 20px 17px;
}
