.subscription {
  font-family: $secondary-font;
}

.subscription__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.subscription__description {
  font-size: 16px;
  line-height: 24px;
}
