.subscription {
  position: relative;

  padding-top: 10px;
  padding-bottom: 10px;

  font-family: $secondary-font;
}

.subscription::before {
  position: absolute;
  top: 30px;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 2px;

  content: "";

  background-color: $accent-color;
}

.subscription__title {
  display: inline-block;
  min-width: 212px;
  margin-top: 0;
  margin-bottom: 32px;
  padding-left: 20px;
  box-sizing: border-box;

  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $black;

  background-color: $white;

  @media (min-width: $tablet-width) {
    min-width: 312px;
    padding-left: 70px;

    font-size: 32px;
    line-height: 32px;

    background-color: transparent;
    background-image: linear-gradient(to right, transparent 30px, $white 30px);
  }

  @media (min-width: $desktop-width) {
    min-width: 403px;
    padding-left: 110px;

    font-size: 40px;
    line-height: 40px;

    background-image: linear-gradient(to right, transparent 70px, $white 70px);
  }
}

.subscription__container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.subscription__description {
  margin-top: 0;
  margin-bottom: 24px;

  font-size: 16px;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 600px;

    font-size: 24px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1000px;
  }
}

.subscription__form {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: flex-start;
  }
}

.subscription__email {
  width: 100%;
  margin-bottom: 16px;
  padding: 12px;
  box-sizing: border-box;

  font-family: inherit;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  border: 1px solid $border-grey;

  @media (min-width: $tablet-width) {
    width: 376px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 496px;
  }
}

.subscription__button.button {
  min-width: 100%;
  padding: 15px;

  font-size: 20px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    min-width: 256px;
  }
}
